save-exact=true

# In npm 4.0.0 the behaviour of npm scripts changed meaning that without this setting it is possible
# for an npm script to run the "default" version of node rather than the version selected by a version manager
# like nvm or nodist.
#
# see https://github.com/npm/npm/releases/tag/v4.0.0
scripts-prepend-node-path=true

# Required to run node-gyp on TeamCity
#
# see https://www.npmjs.com/package/node-gyp
msvs_version=2015
